html {
    height: 100%; /* 100% of parent (viewport) */
    font-size:20px;
    font-family: sans-serif;
}

body {
    margin: 0; /* chrome by default has 8px margin on body */
    background-color: #1f1f1f;
    color: #ededed;

    /* plain `height` will forbid body from grow vertically,
     * thus content outside the viewport will be considered overflow
     */
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

main {
    /* Trick for limited responsiveness:
     *      on large screen, lines won't be too wide (900px)
     *      on small screen, lines won't be too narrow (10% empty)
     */
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    flex: 1;
    font-family:"Noto Serif";
}

footer {
    width: 100%;
    text-align: center;
    color: #808080;
    /*font-size: 16px;*/
    line-height: 1.5em;
}

a {
    color:inherit;
    text-decoration:none;
}

/************* index specific ****************/
#index-main {
    margin:0 auto;
    font-family:monospace;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#index-main img {
    height:15vh;
    display: block; /* set img <display-outside> to block to remove descender gap */
}

#index-main>nav {
    flex:1;
    display:flex;
    align-items:center;
}

#index-main>nav>ul {
    text-align:center;
    list-style-type:none;
    width:90vw;
    max-width:400px;
    line-height:1.5em;
    margin:0;
    padding:0;
}

#index-main>nav>ul>li:hover {
    background-color: #2f2f2f
}
#index-main>nav>ul>li.closed:hover {
    background: repeating-linear-gradient(
    -45deg,
    /*If the first color does not have a color-stop-length, the color-stop-length defaults to 0*/ #2f2f2f,
    #2f2f2f 10px,
    #1f1f1f 10px,
    #1f1f1f 20px
    );
    cursor:not-allowed;
}

/***************end index**************/


/*************** article **************/
article {
    margin-bottom: 200px;
}

article small {
    display:block;
    color: #cdcdcd;
    margin-bottom:100px;
}

article>hgroup {
    border-left:8px solid coral;
    padding-left:20px;
}

article>hgroup>h1 {
    font-size: 2em;
}

article>hgroup>h4 {
    color:#cdcdcd;
}

article h2 {
    margin-left:5px;
}

article p {
    /*unit-less line-height is multiple of font-size */
    line-height:1.5;
    width:90%;
    margin: 1.25rem auto;
}

/**********end article***********/
