{{define "title"}}cesun.io{{end}}

{{define "main"}}
<main id="index-main">
    <h1>__attribute__ ((deprecated)) cesun.io</h1>
    <div><img src="/assets/banner.webp" alt=""></div>
    <nav>
        <ul>
            <li><a href="/stochastic-noise/">Stochastic Noise</a></li>
            <li><a href="/breaker/">Breaker</a></li>
            <li class="closed">--------------N/A--------------</li>
            <li><a href="about-this-site-workflow-and-templating-system/">about this site</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </nav>
</main>
{{end}}
